.html {
    width: 100%;
}

.header {
    
    width: 100%;
    height: 100vh;
    background-image: url(../img/forest.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    width: 100%;
    height: 200px;
    font-family: 'Russo One', sans-serif;
    font-size: 60px;
    color: aliceblue;
    text-align: center;
    padding-top: 50px;
    margin: 0;
}

h2 {
    font-family: 'Russo One', sans-serif;
    color: #4590e1;
    text-align: center;
    margin: 0 0 50px 0;
}


.header_text {
    width: 100%;
    height: 500px;
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
}

.mid {
    width: 100%;
    height: 700px;
    background-color: aliceblue;
    font-family: 'Russo One', sans-serif;
    font-size: 80px;
}

.photo {
    display: flex;
    width: 100%;
    height: 500px;
    margin-top: 25px;
    justify-content: center;
    


}

.deti1 {
    width: 300px;
    height: 200px;
    margin-right: 10px;
    background-image: url(../img/deti.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

.deti2 {
    width: 300px;
    height: 200px;
    margin-right: 10px;
    background-image: url(../img/deti2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.deti3 {
    width: 300px;
    height: 200px;
    background-image: url(../img/deti3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.but {
    margin: -240px 0px 0 810px;
    
}

#button {
    width: 300px;
    height: 50px;
    outline: 20px #4892e7;
    border-color: #4892e7;
    color: #4892e7;
    background: transparent;
    border-radius: 4px;
    font-size: 16px;
    border:solid 2px#4892e7;
}

#button:hover {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    
}

.cabinet {
    width: 100%;
    height: 1000px;
    font-family: 'Russo One', sans-serif;
    font-size: 80px;
    color: aliceblue;
    background-image: url(../img/cabinet.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


.text1 {
    width: 100%;
    padding-top: 55px; 
}

h2.price {
    color: aliceblue;
}

h2.news {
    color: #4590e1;
    width: 100%;
    height: 100px;
    padding-bottom: 25px;
}

.cost{
    display: flex;
    width: 100%;
    height: 600px;
    justify-content: center;
    margin-top: 50px;
}

.cost1 {
    width: 250px;
    height: 325px;
    background-color: aliceblue;
    border-radius: 25px;
    margin: 50px 0 0 50px;
    transition: 0.3s;
    position: relative;
}

.cost1:hover {
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.5);
}

.text2 {
    font-family: 'Barlow', sans-serif;
    font-size: 35px;
    color: black;
}

.text3 {
    font-family: 'Barlow', sans-serif;
    width: 250px;
    font-size: 25px;
    color: black;
}

.text3 ul li {
    list-style: square ;
}

.price-block-text-wrapper {
    padding: 24px;
}

.text44 {
    display: flex;
    width: 100%;
    height: 80px;
    background-color: #4590e1;
    border-radius: 0 0 25px 25px;
    font-size: 28px;
    font-family: 'Barlow', sans-serif;
    margin-top: 52px;
    background-size: contain;
    background-position:  bottom = 100%;
    position: absolute;
}

.news {
    width: 100%;
    height: 1000px;
    background-color: aliceblue;
}

.text5 {
    width: 100%;
    font-family: 'Russo One', sans-serif;
    font-size: 80px;
    color: #4590e1;
    text-align: center;
    
}

.news1 {
    display: flex;
    width: 100%;
    height: 600px;
    justify-content: center;
    margin-top: 50px;
}

.news-block { 
    width: 300px;
    height: 600px;
    font-family: 'Barlow', sans-serif;
    color: black;
    text-align: center;
    font-size: 16px;
    border: 1px solid #0000004d;
    margin-right: 15px;
    overflow: hidden;
}

.news-block:hover {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

.news-block .image-container {
    height: 170px;
}

.news-block img {
    width: 100%;
    height: auto;
    overflow: hidden;
    
}

.text4 {
    width: 250px;
    font-size: 28px;
    font-family: 'Barlow', sans-serif;
    text-align: center;
    padding-top: 17px;
}

.text6 {
    width: 200px;
    font-family: 'Barlow', sans-serif;
    color: black;
    text-align: left;
    font-size: 18px;
    padding-left: 10px;
    overflow: hidden;
    margin-top: 65px;
}

.news-btn-readmore {
    margin-top: 25px;
}

.zag {
    text-align: left;
    font-family: 'Barlow', sans-serif;
    font-size: 28px;
}

.but1 {
    font-family: 'Russo One', sans-serif;
    margin-left: 800px;
    margin-top: 65px;
}

.map {
    position:relative;
    width: 100%;
    height: 100%;
}

.map1 {
    width: 50%;
    height: 75vh;
    background-color: #2e8df2ce;
    position: absolute;
    left: 0;
    z-index: 100;
    font-family: 'Russo One', sans-serif;
    font-size: 68px;
    color: #ffffff;
    line-height: 100px;
    text-align: right;
    padding-right: 25px;
    padding-top: 15px;
}

.map2 {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    position:absolute;   
}

.icon {
    justify-content: center;
    width: 100px;
    height: 124px;
    color: #ffffff;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 890px;
    background-image: url(../img/play.svg);
    background-size: cover;
    background-repeat: no-repeat;  
}

.news-btn-readmore {
    text-decoration: none;
}




    


/*
font-family: 'Russo One', sans-serif;
font-family: 'Barlow', sans-serif;
*/